<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" og="http://opengraphprotocol.org/schema/" fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8" />
    <meta content="Octopics" name="generator"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta name="description" content="{{message}}">
    <meta property="og:title" content="Picture from Octopics - {{sha}}">
    <meta property="og:description" content="{{message}}">
    <title>Picture from Octopics - {{sha}}</title>
  </head>
  <body>
    <div class="wrapper">
      <p><img src="{{image_url}}" /></p>
      <p>{{message}}</p>
    </div>
  </body>
</html>